*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px
  box-sizing: border-box;

  @media only screen and (max-width: $bp-small) {
    font-size: 50%;
  }
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
}
