// COLOURS
$color-primary: #5b2c8f;
$color-primary-light: #9155d6;
$color-primary-dark: #440b84;

$color-white: #ffffff;
$color-black: #000;

$color-grey-dark: #333;
$color-grey-light: #eee;

// BREAKPOINTS
$bp-small: 37.5em; // 600px
